/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;600;700;800;900&display=swap');

/* Body Styling */
body {
    font-family: 'Barlow', sans-serif !important;
    max-width: 45%;
}

@media(max-width: 80rem) {
    body {
        max-width: 90%;
    }
}

/* Text */
.text-primary {
    color: #F4546C !important;
}

.text-secondary {
    color: #A5B4B5 !important;
}

.text-black {
    color: #000000;
}

.text-muted {
    color: #C9CED1 !important;
}

/* Button */
.btn-primary {
    background-color: #56BEAD !important;
    border-color: #56BEAD !important;
}
