/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;600;700;800;900&display=swap');

/* Root */
:root {
    /* Colors */
    --primary: #F4546C;
    --secondary: #56BEAD;
    --text-secondary: #A5B4B5;
    --text-light: #C9CED1;
}

/* Body Styling */
body {
    font-family: 'Barlow', sans-serif !important;
    max-width: 45%;
}

@media(max-width: 80rem) {
    body {
        max-width: 90%;
    }
}

/* Text */
.text-primary {
    color: var(--primary) !important;
}

.text-secondary {
    color: var(--text-secondary) !important;
}

.text-black {
    color: black;
}

.text-muted {
    color: var(--text-light) !important;
}

/* Button */
.btn-primary {
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}
